.table {
	display: table;
	padding: 10px;
}

.main-nav {
	display: flex;
	justify-content: center;
	
}


.cell {
	display: table-cell;
}

.right div {
	padding: 5px 25px;
	background-color: rgb(25, 60, 245);
	color: yellow;
}



img {
	width: 250px;
	float: left;
	padding: 0px 10px;
}

.right {
	padding: 0px 15px;
	width: 150px;
}

section p {
	font-size: large;
}

hr {
	width: 70%
}

div:hover {
	color: white;
	background-color: rgb(75, 175, 240);
}


footer {
	border: 2px dashed;
	padding: 0px 5px;
}

.collapsible {
	background-color: rgb(25, 60, 245);
	color: yellow;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	color: white;
	background-color: rgb(75, 175, 240);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .cool {
	padding: 0 18px;
  background-color: white;
  overflow: hidden;
  display: none;
  max-height: 100%;
  }




	


	